@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body {
    margin: 0;
    font-family: 'Lato';
    background: linear-gradient(to bottom, #004d00 30%, #ffffff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #000000;
    position: relative;
    overflow: hidden;
    overscroll-behavior-y: none;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: transparent;
}

.glowing-text {
    color: #000000;
    font-weight: bold;
    text-shadow: 0 0 10px #D8D8D8, 0 0 20px #D8D8D8, 0 0 30px #D8D8D8, 0 0 40px #D8D8D8, 0 0 50px #D8D8D8, 0 0 60px #D8D8D8, 0 0 70px #D8D8D8;
}

.container {
    position: relative;
    z-index: 1;
    text-align: center;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: none;
    overflow-y: auto;
    max-height: calc(100vh - 180px);
    margin-bottom: 100px;
    border: none;
}

#space-section, #invite-section, #task-section, #wallet-section {
    display: none;
}

#space-section {
    display: block;
}

.logo img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.greeting {
    margin: 10px 0;
    font-size: 25px;
    color: #D0A203;
    font-weight: bold;
}

.greeting .wave {
    margin-right: 10px;
}

.balance {
    background-color: #004d00;
    color: #E1E1D5;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
}

.balance-value {
    font-size: 36px;
    margin: 10px 0;
    color: #FFFFFF;
}

.balance-value img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
}

.timer {
    font-size: 18px;
    color: #000000;
    font-weight: bold;
}

.timer .countdown {
    display: flex;
    align-items: center;
}

.navigation {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    width: 85%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid silver;
    border-radius: 15px;
    padding: 10px;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-btn {
    background: transparent;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center the content vertically */
    font-weight: bold;
}

.nav-btn .icon {
    font-size: 32px; /* Adjust the size as needed */
    margin-bottom: 5px;
}

.nav-btn.active {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #004d00;
    font-weight: bold;
}

.nav-btn.active .icon,
.nav-btn.active .text {
    color: #004d00;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 20px 0;
    margin-bottom: 150px;
    top:-20px;
}

.header .icon {/*icon ile title arasi*/
    margin-right: 5 px;
}

.earned {
    position: relative;
    background-color: #004d00;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    top:-100px;
}

.earned-value {
    font-size: 36px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: bold;
}

.earned-value img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

.invite-btn {
    background-color: #ffffff;
    color: #004d00;
    border: 2px solid #004d00;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    width: 100%;
}

.invite-btn:hover {
    background-color: #004d00;
    color: #ffffff;
}

.referral-info {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #cccccc;
}

.referrals {
    position: relative;
    background-color: #ffffff;
    color: #004d00;
    padding: 20px;
    border-radius: 10px;
    top: -100px;
}

.referral-header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 10px;
    color: #000000;
    font-weight: bold;
}

.referral-list {
    font-size: 14px;
}

.no-referrals {
    color: #666666;
}

.referral-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.profile-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.referral-item span {
    flex: 1;
    margin-right: 10px;
    color: #000000;
    font-weight: bold;
}

.referral-item span:last-child {
    flex: 0;
    font-weight: bold;
    color: #000000;
}

.task-list { /* en alt border */
    border-radius: 10px;
    padding: 10px;
    margin-top: -100px;
    height: vh;
    background: #FFFFFF;
}

.task-item { /* gorev borderi */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    padding: 50px;
    border: 1px solid rgba(192, 192, 192, 0.5);
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 255, 0.1);
    color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    z-index: 1;
}

.task-item::after { /* border cizgisi */
    content: '';
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #D8D8D8;
    transform: translateY(-50%);
    z-index: 1;
}

.task-item:hover {
    transform: translateY(-5px);
}

.task-icon-container {
    position: relative; /* Changed to relative to allow positioning of overlay */
    display: flex;
    align-items: center;
    justify-content: left-start;
    padding: 0px 0px 0px 0px;
    width: 50px;
    height: 45px;
    border-radius: 20%;
    margin-left: -40px;
    margin-top: -40px;
    background-color: rgba(0, 0, 255, 0.15);
    z-index: 2;
    padding-left: 5px;
}

.task-icon { /* task sekmesinin iconlari */
    font-size: 20px; /* Adjust the size as needed */
    color: #004d00; /* Adjust the color as needed */
}
.task-logo {
    width: 40px;  /* Boyutunu buraya ayarlayın */
    height: 40px;
    border-radius: 20%;
    object-fit: contain;  /* Logo'nun kenarlara taşmadan sığmasını sağlar */
}

.task-icon-overlay { /*iconlarin yanindaki sayi*/
    position: absolute;
    top: 12px; /* Adjust position as needed */
    left: 25px;
    color: #004d00;
    font-size: 18px;
    font-weight: bold;

}

.task-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    z-index: 2;
}

.task-title { /* yazilar */
    position:absolute;
    font-size: 13px;
    margin-bottom: 40px;
    margin-left: 50px;
}

.task-points { /* puanlar*/
    position: absolute;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    margin: 5px 0;
    text-decoration: none;
    margin-top: 70px;
    margin-left: -40px;
    z-index: 2;
}
.task-action {
    position: absolute;
    margin-right: 100px;
    top: 50%;
    transform: translateY(-50%);
}
.task-item.completed {
    border: 1px solid rgba(0, 77, 0, 0.5);
    background-color: rgba(0, 255, 0, 0.1);
    color: #004d00;
}

.task-item.completed .task-title,
.task-item.completed .task-points {
    color: #004d00;
}

.perform-btn {
    position: absolute;
    font-size: 12px;
    display: inline-block;
    color: #004d00;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    bottom: 5px;
    right: 10px;
    z-index: 2;
    transition: font-size 0.3s ease;
}

.perform-btn.completed {
    font-size: 24px; /* Görev tamamlandığında daha büyük olacak */
    color: #004d00; /* Renk değişmeyecek */
    text-align: center;
}

.task-item.completed .perform-btn {
    font-size: 24px; /* Görev tamamlandığında daha büyük olacak */
    color: #004d00; /* Renk değişmeyecek */
    text-align: center;
    content: '>'; /* Sadece > işareti kalacak */
}

.countdown-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    z-index: 10;
}

.countdown-overlay i {
    font-size: 32px;
    margin-right: 10px;
}

.claim-btn {
    background-color: #ffffff;
    color: #004d00;
    padding: 10px 20px;
    border: 2px solid #004d00;
    border-radius: 10px;
    font-size: 18px;
    width: 80vw;
    height: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.claim-btn i {
    margin-left: 10px;
    font-size: 24px;
}

.claim-btn:hover {
    background-color: #004d00;
    color: #ffffff;
}

.timer-collected {
    border: 2px solid #004d00;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

.wallet-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border: 2px solid #004d00;
    background-color: #004d00;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
}
.rank-container {
    background: rgba(0, 128, 0, 0.2);
    border: 2px solid rgba(0, 128, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
}
.anonymous-rank .rank-logo {
    width: 80px;
    height: 80px;
}
.anonymous-rank .rank-name {
    font-size: 24px;
}
.anonymous-rank .rank-position {
    font-size: 20px;
}
.anonymous-rank .next-rank-info {
    display: none;
}
.rank-name {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
}
.rank-logo {
    width: 40px;
    height: 50px;
    margin-bottom: 10px;
}
.rank-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.rank-position {
    font-size: 14px;
    color: red;
}
.next-rank-info {
    font-size: 12px;
    color: #999;
    display: flex;
    align-items: center;
}
.next-rank-logo {
    width: 20px;
    height: 25px;
    margin-left: 5px;
}
@media (max-height: 800px) {
    body {
        background: linear-gradient(to bottom, #004d00 20%, #ffffff 100%);
    }
}

@media (min-height: 801px) and (max-height: 1200px) {
    body {
        background: linear-gradient(to bottom, #004d00 30%, #ffffff 100%);
    }
}

@media (min-height: 1201px) {
    body {
        background: linear-gradient(to bottom, #004d00 40%, #ffffff 100%);
    }
}